# Предсказываем стоимость мед страховки

## Загужаем необходимые библиотеки

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Загружаем данные

Собраны данные:
- age: возраст
- sex: пол
- bmi: индекс массы тела
- children: количество детей, охваченных медицинским страхованием / количество иждивенцев
- smoker: курение
- region: регион (northeast, southeast, southwest, northwest).
- charges: индивидуальные медицинские расходы (его и хотим предсказать)

In [ ]:
df=pd.read_csv('insurance.csv', sep=',')

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Смотрим статистику, что нет пропусков и отсуствующих значений

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Columns: 712 entries, <!DOCTYPE html><html><head><meta name="google" content="notranslate"><meta http-equiv="X-UA-Compatible" content="IE=edge;"><style nonce="GgnW7B4oDweN3oMyXPrDzw">@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf)format('truetype');}</style><meta name="referrer" content="origin"><title>insurance.csv - Google Drive</title><meta property="og:title" content="insurance.csv"><meta property="og:type" content="article"><meta property="og:site_name" content="Google Docs"><meta property="og:url" content="https://drive.google.com/file/d/1q6BQutG8p8gQq2pTmtKt6n0966xAtsky/edit?usp=embed_facebook"><link rel="shortcut icon" href="https://ssl.gstatic.com/images/branding/product/1x/drive_2020q4_32dp.png"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:300 to };this.gbar_=this.gbar_||{};(function(_){var window=this;
dtypes: float64(512), object(200)
memory usage: 956.9+ KB

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

## Преобразуем строковые данные

In [ ]:
# Заменяем пол и курение на числа
df['sex']=df['sex'].map({'male':1, 'female':0})
df['smoker']=df['smoker'].map({'yes':1,'no':0})

In [ ]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [ ]:
# Заменяем регион на набор отдельных колонок (is_southwest, is_southeast и тп)
df = pd.get_dummies(df, columns=['region'])
df.head()

   age  sex     bmi  ...  region_northwest  region_southeast  region_southwest
0   19    0  27.900  ...                 0                 0                 1
1   18    1  33.770  ...                 0                 1                 0
2   28    1  33.000  ...                 0                 1                 0
3   33    1  22.705  ...                 1                 0                 0
4   32    1  28.880  ...                 1                 0                 0

[5 rows x 10 columns]

## Формируем признаки и целевую переменную

In [ ]:
## Сформируйте признаки и целевую переменную
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest'],
      dtype='object')

In [ ]:
X=df[['age','bmi','sex','children','smoker','region_northeast','region_northwest','region_southeast','region_southwest']]
y=df['charges']
X

      age     bmi  sex  ...  region_northwest  region_southeast  region_southwest
0      19  27.900    0  ...                 0                 0                 1
1      18  33.770    1  ...                 0                 1                 0
2      28  33.000    1  ...                 0                 1                 0
3      33  22.705    1  ...                 1                 0                 0
4      32  28.880    1  ...                 1                 0                 0
...   ...     ...  ...  ...               ...               ...               ...
1333   50  30.970    1  ...                 1                 0                 0
1334   18  31.920    0  ...                 0                 0                 0
1335   18  36.850    0  ...                 0                 1                 0
1336   21  25.800    0  ...                 0                 0                 1
1337   61  29.070    0  ...                 1                 0                 0

[1338 rows x 9 columns]

In [ ]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

## Разделяем данные на выборку для обучения/проверки

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

In [ ]:
print(X_train, X_test, y_train, y_test)

      age     bmi  sex  ...  region_northwest  region_southeast  region_southwest
1256   51  36.385    0  ...                 1                 0                 0
264    53  38.060    0  ...                 0                 1                 0
318    44  27.645    0  ...                 1                 0                 0
323    57  40.945    1  ...                 0                 0                 0
211    40  30.875    1  ...                 1                 0                 0
...   ...     ...  ...  ...               ...               ...               ...
637    35  38.095    0  ...                 0                 0                 0
322    34  30.800    1  ...                 0                 0                 1
260    58  25.200    0  ...                 0                 0                 1
314    27  31.400    0  ...                 0                 0                 1
1046   43  25.080    0  ...                 0                 0                 0

[1070 rows x 9 columns]       age     bmi  sex  ...  region_northwest  region_southeast  region_southwest
173    35  34.800    0  ...                 0                 0                 1
672    36  29.700    1  ...                 0                 1                 0
512    51  22.420    1  ...                 0                 0                 0
844    53  30.495    1  ...                 0                 0                 0
1040   35  28.025    0  ...                 1                 0                 0
...   ...     ...  ...  ...               ...               ...               ...
883    51  37.050    0  ...                 0                 0                 0
1153   35  35.815    0  ...                 1                 0                 0
1081   32  27.835    1  ...                 1                 0                 0
855    20  29.600    0  ...                 0                 0                 1
506    22  31.350    1  ...                 1                 0                 0

[268 rows x 9 columns] 1256    11436.73815
264     20462.99766
318      7421.19455
323     11566.30055
211      8162.71625
           ...
637     24915.04626
322     35491.64000
260     11837.16000
314     34838.87300
1046     7325.04820
Name: charges, Length: 1070, dtype: float64 173      5246.04700
672      4399.73100
512      9361.32680
844     10072.05505
1040    20234.85475
           ...
883     46255.11250
1153     5630.45785
1081     4454.40265
855      1875.34400
506      2643.26850
Name: charges, Length: 268, dtype: float64

## Создаем и обучаем модель линейной регресии

In [ ]:
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)# Создайте и обучите модель

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
lr=LinearRegression()

In [ ]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
lr.coef_

array([  249.44177915,   327.69153228,    44.60848241,   607.67414276,
       23853.28594916,   427.23419219,   303.2141223 ,  -342.24013796,
        -388.20817653])

## Получаем предсказание и оцениваем качество

In [ ]:
lr.predict(X_test)# Получите предсказание

array([ 8266.47159808,  6327.58894084,  8453.0956032 , 11598.08828462,
       29983.39557214, 31902.91728946, 13641.72019062,  3789.65395312,
        4472.777557  , 31900.8922332 ,   970.80367039,  9556.30790314,
       35504.32454033, 12174.61535285,  1249.72877206, 10461.25483182,
        3622.23042365,  4644.8491641 , 10254.53639863, 10038.15658711,
        8974.92877123, 11509.10069431, 35638.96174289, 11238.55944945,
       37364.06401071,  9684.62527101, 37420.76686143,  9844.67830797,
       12876.53652612, 11473.50514021,  6303.82860312, 36811.31948117,
        1223.86289916, 13361.66680726, 11742.64126331,  5673.73037259,
       13483.30958945, 13797.69026612,   917.10119094, 37214.5565418 ,
        8922.88728172, 14838.91007328,  5599.45873996,  8095.3681044 ,
        8979.25420866,  4604.62178074, 30599.85544093, 13623.67106728,
        9744.88069934, 29755.56619771, 10910.21227759, 10610.63872336,
       39191.52471271, 34175.97715715,  8696.66401067, 11086.55301249,
       12688.39469652, 27404.63084499, 11776.23864197, 10257.54918746,
        5770.47779222, 10992.53820954, 12866.40547143,  7004.55898012,
        3870.14770648, 11182.34847595,  1898.20625048,  5418.52719203,
        4410.47831632, 10654.11630367, 30587.20085423,  8738.81289671,
        4793.18860476,  5352.86742991, 12485.76834518,  8465.4308818 ,
       38643.61299303, 26027.37596435, 35881.81683937, 31057.63393378,
        3526.04073666,  7985.34274047,  6584.17656729, 10990.08044183,
        5404.87435033, 14421.59096964, 39025.8776102 , 34940.50025585,
        2029.2713276 , 39906.79864365,  9143.36774611, 12522.99622331,
        5571.69419268, 10465.80207035,  1626.01025901, 32022.75746559,
       10368.28169801, 28576.10198381, 30965.38435531, 15813.34949326,
        5975.2045912 , 29142.25767282,   831.84165971, 12623.1186879 ,
       11903.8007701 ,  6029.47917543,  7996.1556752 , 11428.56080534,
       29214.06970909,  9994.46341067, 10495.60137993, 11929.53193447,
        3581.26085848,  2698.49474984,  7798.95693412,  9235.43170759,
       13724.55845097, 34906.58922371, 11596.80334885, 13023.41730608,
       35951.05022131, -1126.70311878, 11587.09428324,  2518.9605444 ,
       15272.92965045,  6391.79656194,  9413.22702091, 13832.44049242,
        5971.40930496,  9563.4069142 ,  6396.49077517,  9267.46680362,
        4026.48164329,  5076.00308959, 13282.65141459, 15276.43394918,
        9529.90904566,  6232.80302488,  6327.59808091, 10146.82429485,
        7266.74385959,  1892.82952789, 32104.70374601,  6056.28223758,
        3979.71434121, 10444.73219588, 10914.91332509, 13869.41904062,
       11101.97822864, 14699.03771061,  8215.54890486, 11127.37917645,
       27163.81320253, 13194.33457315, 28979.03677537, 36634.3406653 ,
        7753.47355247,  1998.84653873, 27088.30339906,  2607.47995084,
        9156.368209  , 33282.07703729, 17007.0393731 ,   354.63908304,
        4020.46765117, 27755.66853493,  9418.25581595, 10804.36760013,
       36677.96363889, 12410.36636942, 11917.42075979,  9417.46338672,
         358.04451299, 28421.11099952,  6283.6852371 ,  6252.5448344 ,
        3932.51559538, 27989.30883874, 30024.2442487 ,  5844.97479846,
       13252.48000817,  6234.89192567, 24405.05784654, 11585.79914163,
        6980.83997542,  5502.23842389, 26821.35145333,  3045.11507766,
        7589.62778633,  4023.4864112 ,   302.45299497,  8111.9531649 ,
       11253.25196921, 11488.17157089,  -908.11313371, 30914.72210448,
        7924.46778632,  3633.83363517, 12101.52799683,  7490.43730365,
        7752.64827122, 34018.29169876,  6563.83183463,  9229.03184027,
       11093.54283504, 16837.8867922 , 35027.7732767 , 39940.07725242,
        1048.56788483, 13997.63562869, 14606.22514873, 29898.24914826,
        2963.48121081, 13619.64833428,  9212.8317732 ,  6079.01124558,
       33894.88559108,  8301.50549871, 34871.30185059,  4504.07509269,
        8937.12521482, 31729.86498598,   334.64945765, 15046.43519395,
       11413.51671123,  9777.84151109, 12910.44755826, 32507.9058735 ,
       27195.90533968,  5689.98403886, 11254.37752942,  7331.67155464,
       16491.88656023, 36012.51918321, 16130.71600662, 11582.52509917,
       15753.70372325, 14862.67177167, 38534.995311  , 35001.4596711 ,
       15871.81894895,  3689.76776861,  7620.49975756, 12480.78789747,
       35218.75700436, 12060.21859798, 29928.9645991 ,  6170.75595923,
        5578.08125453,  9682.59122805,  3571.17602943,  3024.17841934,
       23510.46679769, 30195.84233004, 12814.27298255, 23609.09356547,
       32380.0792951 , 10469.18084218, 11986.59855242, 37137.35330099,
        5706.56902804,  8757.96206025, 11124.48693995, 38878.92261543,
        9290.50080217,  5971.80551957,  2213.17480029,  4629.22346406])

In [ ]:
mean_squared_error(y_test, lr.predict(X_test))# Оцените качество, при помощи метода mean_squared_error для тестовой выборки

35457966.449315324

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

36836757.4562042

## Делаем предсказание для одного человека

In [ ]:
# Заполняем данные по конкретному человеку
data = [{
    "age": 20,
    "sex": 1,
    "bmi": 30,
    "children": 2,
    "smoker": 1,
    "region_northeast": 0,
    "region_northwest": 0,
    "region_southeast": 1,
    "region_southwest": 0
}]

In [ ]:
df_person = pd.DataFrame(data)
df_person.head()

   age  sex  bmi  ...  region_northwest  region_southeast  region_southwest
0   20    1   30  ...                 0                 1                 0

[1 rows x 9 columns]

In [ ]:
lr.predict(df_person)

array([19294.05372258])

In [ ]:
from sklearn.metrics import roc_auc_score

x = [0,1,1,0,0,1,1,0,0,0]

x_ver = [0.35, 0.85, 0.75, 0.25, 0.05, 0.45, 0.95, 0.65, 0.15, 0.55]

print(f'roc-auc: {roc_auc_score(x, x_ver)}')

roc-auc: 0.9166666666666667