# Создание столбцов на ходу
- Лена - разработчик
- Ваня - дизайнер
- Леша - редактор

In [1]:
import pandas as pd

In [25]:
df = pd.DataFrame({'dicts': [{'Лена': 1, 'Ваня': 2}, {'Ваня': 3, 'Леша': 5}, {'Настя': 3}]})
df

                    dicts
0  {'Лена': 1, 'Ваня': 2}
1  {'Ваня': 3, 'Леша': 5}
2            {'Настя': 3}

In [4]:
def departments(row):
    if 'Ваня' in row['dicts']:
        row['разработка'] = row['dicts']['Ваня']
    
    if 'Настя' in row['dicts']:
        row['финансы'] = row['dicts']['Настя']
    
    return row

In [5]:
df = df.apply(departments, axis=1)
df

                    dicts  разработка  финансы
0  {'Лена': 1, 'Ваня': 2}         2.0      NaN
1  {'Ваня': 3, 'Леша': 5}         3.0      NaN
2            {'Настя': 3}         NaN      3.0

In [27]:
staff = {
    'Лена': 'разработчик',
    'Ваня': 'дизайнер',
    'Настя': 'редактор',
    'Кеша': 'директорат',
}

In [23]:
def new_columns(row):
    for name, value in row['dicts'].items():
        if name in staff:
            row[staff[name]] = value
    
    return row

In [26]:
df = df.apply(new_columns, axis=1)
df

                    dicts  дизайнер  разработчик  редактор
0  {'Лена': 1, 'Ваня': 2}       2.0          1.0       NaN
1  {'Ваня': 3, 'Леша': 5}       3.0          NaN       NaN
2            {'Настя': 3}       NaN          NaN       3.0