Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [ ]:
from datetime import timedelta
from datetime import datetime

In [ ]:
x = "The Moscow Times - Wednesday, October 2, 2002"
y = "The Guardian - Friday, 11.10.13"
z = "Daily News - Thursday, 18 August 1977"

x1 = str(*x.split(" - ")[-1:])
y1 = str(*y.split(" - ")[-1:])
z1 = str(*z.split(" - ")[-1:])

x2 = datetime.strptime(x1, "%A, %B %d, %Y")
y2 = datetime.strptime(y1, "%A, %d.%m.%y")
z2 = datetime.strptime(z1, "%A, %d %B %Y")

x2, y2, z2

(datetime.datetime(2002, 10, 2, 0, 0),
 datetime.datetime(2013, 10, 11, 0, 0),
 datetime.datetime(1977, 8, 18, 0, 0))

Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

def f(dates):

    for i in dates:
        try:
            x = datetime.strptime(i, "%Y-%m-%d") 
        except:
            print(i, False)
        else:
            print(i, True)

f(stream)

2018-04-02 True
2018-02-29 False
2018-19-02 False

Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
def f(start,end):

    dates = []
    try:
        st = datetime.strptime(start, "%Y-%m-%d") 
        en = datetime.strptime(end, "%Y-%m-%d") 
    except:
        print(dates) 
    else:
        while en >= st:
            dates.append(datetime.strftime(st, "%Y-%m-%d"))
            st += timedelta(days = 1)                
        print(dates)

f('2022-01-01','2022-01-24')

['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16', '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24']

# Комментарии преподавателя


Добрый вечер, спасибо за решения.
Здорово получилось.

В задании 3 в функции f лучше возвращать результат с помощью оператора return, а не выводить на экран.