# Домашнее задание к лекции "Введение в типы данных и циклы. Часть 1"
# Задание 1
Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран:

среднюю букву, если число букв в слове нечетное;
две средних буквы, если число букв четное.
Примеры работы программы:

word = 'test'
Результат:
es

word = 'testing'
Результат:
t

In [ ]:
x = input()

a = round(len(x)/2)-1
b = round(len(x)/2 + 0.7)-1 

print(*{x[a],x[b]}, sep = '')

testing
t

# Задание 2
Напишите программу, которая последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

Примеры работы программы:

Введите число:  
1

Введите число:  
4

Введите число:  
6

Введите число:  
0
Результат:
11

Введите число:  
0
Результат:
0

In [ ]:
x = 1
sum=0
while x!= 0:
    x = int(input('Введите число:'))
    sum = sum + x
print('Результат:', sum)

Введите число:1
Введите число:4
Введите число:6
Введите число:0
Результат: 11

# Задание 3
Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! Но мы не будем никого знакомить, если кто-то может остаться без пары:

Примеры работы программы:

boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
Результат:

Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
Результат:
Внимание, кто-то может остаться без пары!

In [ ]:

boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

x = 0

if len(boys)!=len(girls):
    print('Внимание, кто-то может остаться без пары!')
else:
    boys_sort=sorted(boys)
    girls_sort=sorted(girls)
    print('Идеальные пары:')
    while x < len(boys_sort):
        print(boys_sort[x],'и',girls_sort[x] )
        x += 1

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

# Задание 4
У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере). Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

Пример работы программы:

countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
Результат:

Средняя температура в странах:
Thailand  -  23.9 С
Germany  -  13.8 С
Russia  -  3.7 С
Poland  -  12.0 С

In [ ]:

x = 0
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

while x < len(countries_temperature):
    e=countries_temperature[x][1]
    print(countries_temperature[x][0],'-',round((sum(e)/len(e)-32)/1.8,1),'C')
    x = x + 1

Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C

# Задание 5 (необязательное)
Дан поток логов по количеству просмотренных страниц для каждого пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

Примеры работы программы:

stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]
Результат:
Среднее количество просмотров на уникального пользователя: 23.25

stream = [
    '2018-01-01,user100,150',
    '2018-01-07,user99,205',
    '2018-03-29,user1001,81'
]
Результат:
Среднее количество просмотров на уникального пользователя: 145.33

In [ ]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

res = []
summa=0
for i in stream:
    i=i.split(',')
    summa = summa + int(i[2])
    res.append(i[1])
print('Среднее количество просмотров на уникального пользователя: ',round(summa/len(set(res)),2))

Среднее количество просмотров на уникального пользователя:  23.25

# Задание 6 (необязательное)
Необходимо у пользователя запрашивать набор чисел разделенных пробелом. В результате в отсортированном порядке должны выводиться числа, которые повторяются в вводе более одного раза.

Примеры работы программы:

Введите числа:
4 8 0 3 4 2 0 3
Результат:
0 3 4

Введите числа:
1 1 2 2 3 3
Результат:
1 2 3

Введите числа:
10 15 15 103 200 200 200 1 1 1 1 1 2 2 2
Результат:
1 2 15 200

In [ ]:
st = str(input('Введите числa:'))

sps =st.split(' ')
sps2 = []
for i in set(sps):
    if sps.count(i) > 1:
         sps2.append(i)

if len(sps2)>0:
    print(' '.join(sps2))
else:
    print('Повторяющихся чисел нет')

Введите числa:10 15 15 103 200 200 200 1 1 1 1 1 2 2 2
15 200 2 1

# Комментарии преподавателя


Алексей, здравствуйте!

Спасибо, в этой работе у вас все реализовано замечательно, никаких принципиальных ошибок нет.

Отлично, что с доп. заданиями :)

Мои рекомендации:

в задаче с парами можно было использовать zip, чтобы не прибегать к вспомогательному счетчику:
1
2
3
4
5
6
if len(boys) != len(girls):
 print('Внимание, кто-то может остаться без пары!')
else:
 print('Лучшие пары:')
 for boy, girl in zip(sorted(boys), sorted(girls)):
   print(f'{boy} и {girl}')
вы в нескольких местах используете итерацию по длине объекта с доступом по индексу. Это не очень pythonic, т.к. python умеет итерироваться по элементам объекта напрямую (возможно, это сказывается ваш опыт в каком-то другом языке). Но здесь прямая итерация по элементам как правило всегда лаконичнее и легче читается. В задаче с температурами это выглядело бы так:
1
2
3
for element in countries_temperature:
   avg_temp = sum(element[1]) / len(element[1])
   print(f"Средняя температура в {element[0]} - {round((avg_temp - 32)*5/9, 1)} C")
в 6 задаче у вас реализуется лексикографический порядок сортировки. Для корректной реализации стоило преобразовать все числа в int.

In [ ]:
if len(boys) != len(girls):
 print('Внимание, кто-то может остаться без пары!')
else:
 print('Лучшие пары:')
 for boy, girl in zip(sorted(boys), sorted(girls)):
   print(f'{boy} и {girl}')




for element in countries_temperature:
   avg_temp = sum(element[1]) / len(element[1])
   print(f"Средняя температура в {element[0]} - {round((avg_temp - 32)*5/9, 1)} C")