# Практика 2
Теория: Типы данных и циклы. Часть 2

Булыгин Олег:  
* [LinkedIn](linkedin.com/in/obulygin)  
* [Telegram](https://t.me/obulygin91)  
* [facebook](fb.com/obulygin91)  
* [Vk](vk.com/obulygin91)  
* email: obulygin91@ya.ru  

[Сообщество по Python](https://yandex.ru/q/loves/pythontalk/) на Кью  
[Сообщество по Data Science и анализу данных](https://yandex.ru/q/loves/datatalk/) на Кью



1.   Пару полезностей
2.   list comprehension
3.   Словари
4.   dict comprehension
5.   Множества

Как можно "разгладить" список. Задачка на мышление

In [ ]:
my_list = [[6, 6], [6, 6], [6, 6]]

In [ ]:
print([item for i in my_list for item in i])

[6, 6, 6, 6, 6, 6]

In [ ]:
res = []
for list_ in my_list:
    for el in list_:
        res.append(el)

print(res)

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']

In [ ]:
res = []
for list_ in my_list:
    res += list_

print(res)

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']

In [ ]:
# for i in my_list : 
#     i = i.split(',')

AttributeError: ignored

In [ ]:
sum(my_list)

TypeError: ignored

In [ ]:
int_list = [10, 22, 30, 40, 51]

sum(int_list)

153

In [ ]:
res = 0
for integer in int_list:
    res += integer
print(res)

153

In [ ]:
my_list = [[6, 6], [6, 6], [6, 6]]
sum(my_list, [])

[6, 6, 6, 6, 6, 6]

In [ ]:
[] + ['Екатеринбург', 'Москва'] + ['Санкт-Петербург', 'Норильск'] + ['Пермь', 'Астрахань']

Проблема изменение длины объекта во время итерации по нему

Дан список с визитами по городам и странам. 
Напишем код, который возвращает отфильтрованный список `geo_logs`, содержащий только визиты из России.

In [ ]:
geo_logs = [
    {'visit1': ['Москва', 'Россия']},
    {'visit2': ['Дели', 'Индия']},
    {'visit3': ['Владимир', 'Россия']},
    {'visit4': ['Лиссабон', 'Португалия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit7': ['Тула', 'Россия']},
    {'visit9': ['Курск', 'Россия']},
    {'visit10': ['Архангельск', 'Россия']}
]

In [ ]:
for log in geo_logs:
    for el in log.values():
        if 'Россия' not in el:
            geo_logs.remove(log)

print(geo_logs)

[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}, {'visit5': ['Париж', 'Франция']}, {'visit7': ['Тула', 'Россия']}, {'visit9': ['Курск', 'Россия']}, {'visit10': ['Архангельск', 'Россия']}]

In [ ]:
res = []

for log in geo_logs:
    # print(log.values())
    if 'Россия' in list(log.values())[0]:
        res.append(log)

print(res)

dict_values([['Москва', 'Россия']])
dict_values([['Дели', 'Индия']])
dict_values([['Владимир', 'Россия']])
dict_values([['Лиссабон', 'Португалия']])
dict_values([['Париж', 'Франция']])
dict_values([['Тула', 'Россия']])
dict_values([['Курск', 'Россия']])
dict_values([['Архангельск', 'Россия']])
[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}, {'visit7': ['Тула', 'Россия']}, {'visit9': ['Курск', 'Россия']}, {'visit10': ['Архангельск', 'Россия']}]

In [ ]:
geo_logs_copy = geo_logs.copy()
for log in geo_logs_copy:
    if 'Россия' not in list(log.values())[0]:
        geo_logs.remove(log)    

print(geo_logs)

[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}, {'visit7': ['Тула', 'Россия']}, {'visit9': ['Курск', 'Россия']}, {'visit10': ['Архангельск', 'Россия']}]

**Практика**. Решим задачу с диагональной матрицей в одну строку

In [ ]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

In [ ]:
# в прошлый раз было вот такое решение
result = 0
index = 0
for row in data:
    result += row[index]
    index += 1
print(result)

103

In [ ]:
result += [row[index] for row in data index + 1]

SyntaxError: ignored

In [ ]:
sum([row[i] for i, row in enumerate(data)])

103

In [ ]:
res = []
for i, row in enumerate(data):
    res.append(row[i])
print(sum(res))

[13, 32, 23, 35]

In [ ]:
list(enumerate(data))

[(0, [13, 25, 23, 34]),
 (1, [45, 32, 44, 47]),
 (2, [12, 33, 23, 95]),
 (3, [13, 53, 34, 35])]

**Практика**. Выведем информацию о странах и столициах в виде:  
 `The capital of ... is ...`

In [ ]:
europe = {'spain': {'capital':'madrid'},
           'france': {'capital':'paris'},
           'germany': {'capital':'berlin'},
           'norway': {'capital':'oslo'}}

In [ ]:
for c, k in europe.items():
    print(f'The capital of {c.title()} is {k["capital"].title()}')

The capital of Spain is Madrid
The capital of France is Paris
The capital of Germany is Berlin
The capital of Norway is Oslo

Посчитаем средний возраст в коллективе

In [ ]:
people = {1: {'name': 'Oleg', 'age': '29', 'sex': 'Male'},
          2: {'name': 'Kate', 'age': '21', 'sex': 'Female'},
          3: {'name': 'Liza', 'age': '24', 'sex': 'Female'},
          4: {'name': 'Pavel', 'age': '36', 'sex': 'Male'}}

In [ ]:
age = 0
for person in people.values():
    age += int(person['age'])
print(age / len(people))

27.5

**Практика**. Посчитаем средний возраст без цикла

In [ ]:
sum([int(person['age']) for person in people.values()]) / len(people)

27.5

In [ ]:
# ''.join([person['age'] for person in people.values()])

'29212436'

Удалим из словаря все пустые элементы (со значением None)

In [ ]:
my_dict = {
    'id1': 123456, 
    'id2': 654321, 
    'id3': None,
    'id4': 777777
}

In [ ]:
res = {}

for key, value in my_dict.items():
    if value is not None:
        res[key] = value
print(res)

{'id1': 123456, 'id2': 654321, 'id4': 777777}

In [ ]:
res = {}

for key, value in my_dict.items():
    if value:
        res[key] = value
print(res)

{'id1': 123456, 'id2': 654321, 'id4': 777777}

**Практика**. Сформируем такой же словарь без явного цикла

In [ ]:
{key:value for key, value in my_dict.items() if value}

{'id1': 123456, 'id2': 654321, 'id4': 777777}

Посчитаем сколько раз каждое слово встречалось в тексте и выведем информацию в виде:  
`"слово": "количество вхождений" `

In [ ]:
some_oxy_text = '''
Весь мой рэп, если коротко, про то, что
Уж который год который город под подошвой
В гору, когда прет. Потом под гору, когда тошно
Я не то, что Гулливер, но все же город под подошвой
Город под подошвой, город под подошвой
Светофоры, госпошлины, сборы и таможни
Я не знаю, вброд или на дно эта дорожка
Ты живешь под каблуком, у меня - город под подошвой
'''
print(some_oxy_text)

Весь мой рэп, если коротко, про то, что
Уж который год который город под подошвой
В гору, когда прет. Потом под гору, """ когда тошно
Я не то, что Гулливер, но все же город под подошвой
Город под подошвой, город под ''подошвой
Светофоры, госпошлины, сборы и ""таможни
Я не знаю, вброд или на дно эта дорожка
Ты живешь под каблуком, у меня - город под подошвой

In [ ]:
res = {}
some_splitted_oxy_text = some_oxy_text.lower().replace(',', '').replace('.', '').replace('-', '').replace('\n', ' ').split()
for word in some_splitted_oxy_text:
    if word not in res:
        res[word] = 1
    else:
        res[word] += 1     
for word, count_ in res.items():
    print(f'{word}: {count_}')

весь: 1
мой: 1
рэп: 1
если: 1
коротко: 1
про: 1
то: 2
что: 2
уж: 1
который: 2
год: 1
город: 5
под: 7
подошвой: 5
в: 1
гору: 2
когда: 2
прет: 1
потом: 1
тошно: 1
я: 2
не: 2
гулливер: 1
но: 1
все: 1
же: 1
светофоры: 1
госпошлины: 1
сборы: 1
и: 1
таможни: 1
знаю: 1
вброд: 1
или: 1
на: 1
дно: 1
эта: 1
дорожка: 1
ты: 1
живешь: 1
каблуком: 1
у: 1
меня: 1

**Практика**. Выведем информацию о встречаемости слов без второго цикла при помощи множества

In [ ]:
some_splitted_oxy_text = some_oxy_text.lower().replace(',', '').replace('.', '').replace('-', '').replace('\n', ' ').split()
for word in set(some_splitted_oxy_text):
    print(f'{word}: {some_splitted_oxy_text.count(word)}')

то: 2
в: 1
но: 1
не: 2
подошвой: 5
гулливер: 1
прет: 1
коротко: 1
меня: 1
про: 1
что: 2
который: 2
или: 1
ты: 1
тошно: 1
город: 5
потом: 1
вброд: 1
светофоры: 1
на: 1
живешь: 1
эта: 1
год: 1
весь: 1
когда: 2
рэп: 1
мой: 1
же: 1
сборы: 1
знаю: 1
если: 1
у: 1
я: 2
дорожка: 1
уж: 1
гору: 2
каблуком: 1
под: 7
госпошлины: 1
таможни: 1
и: 1
дно: 1
все: 1

In [ ]:
?list.count

Посчитаем количество лайков и репостов у постов в ленте ВК

In [ ]:
import requests
import time
params = {
    'access_token': '958eb5d439726565e9333aa30e50e0f937ee432e927f0dbd541c541887d919a7c56f95c04217915c32008',
    'v':'5.131',
    'q': 'Нетология',
    'start_from': '',
    'count': 200,
    'extended': 1
}   
res = []
while True:

    result = requests.get('https://api.vk.com/method/newsfeed.search', params)
    time.sleep(0.33)
    res += result.json()['response']['items']
    if 'next_from' in result.json()['response'].keys():
        params['start_from'] = result.json()['response']['next_from']
    else:
        break

In [ ]:
print(type(res))
print(len(res))

<class 'list'>
902

In [ ]:
print(res[0])

{'id': 1172, 'date': 1643651259, 'owner_id': -147912930, 'from_id': -147912930, 'post_type': 'post', 'text': '3 февраля новый мастермайнд MarHR🎉 Поговорим про бренд работодателя. \n \nМодерировать встречу будет методолог, коуч, профессиональный модератор мастермайндов Екатерина Носкова. \n \nЭффективность сессий во многом зависит от навыков ведущего и соблюдения методологии. На мастермайндах MarHR можно не волноваться за квалификацию модератора. \n \nВот далеко не весь список причин, из-за которых мы доверяем Екатерине: \n \n— прошла обучение в «Американской Академии Коучинга» по созданию и проведению развивающих тренингов в коучинговом формате; \n \n— прошла обучение в «Академии стратегического коучинга» по созданию и проведению бизнес-тренингов в коучинговом формате; \n \n— прошла обучение в «Нетологии» по направлению «методист онлайн-образования» и «куратор». \n \n🔹 Екатерина ждёт вас на мастермайнде «Бренд работодателя» 3 февраля в 18.00. \n \n🔸Стоимость участия в мастермайнде — 1 500 рублей. Для участников MarHR Club — бесплатно. Для выпускников курса HR SMM — скидка 50%. \n \nПодробнее про мастермайнд и регистрация по ссылке — https://bit.ly/3Ghd4t9', 'marked_as_ads': 0, 'attachments': [{'type': 'photo', 'photo': {'album_id': -7, 'date': 1643651259, 'id': 457240247, 'owner_id': -147912930, 'access_key': '6218deb98f6682935b', 'post_id': 1172, 'sizes': [{'height': 75, 'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=75x75&quality=95&sign=6f8b19344cae6506e007fec8239b8f0b&c_uniq_tag=bA_d4szQGlv4znjKaoAXQeo5fovdORR8bKb7z9jlJ-g&type=album', 'type': 's', 'width': 75}, {'height': 130, 'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=130x130&quality=95&sign=fe64f96cbc68002d4ab9ea0d2b8c51f3&c_uniq_tag=xl88-rfuLoop80Lg4gxK1nFmFh0LJ1Pfl_hACXaHwpc&type=album', 'type': 'm', 'width': 130}, {'height': 604, 'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=604x604&quality=95&sign=7ae92f9c701f719631f9b86fc49d70d1&c_uniq_tag=STuGHayHDDSqnn-_cR7A3VdR7_VUQ4a-BMR2XVTvUJE&type=album', 'type': 'x', 'width': 604}, {'height': 807, 'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=807x807&quality=95&sign=2a34f001a528264e6913b3de3e07a78b&c_uniq_tag=ZMZ7WgwZIvvZC_Pq7PIxKaB4kaYxcXhShAFdPxIFVI4&type=album', 'type': 'y', 'width': 807}, {'height': 1080, 'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=1080x1080&quality=95&sign=003359e24f3fe49526fad367e693ec72&c_uniq_tag=t_RjDeCM3p5DW1jZLL42W5-_nFpscophVo7nqmGWY4M&type=album', 'type': 'z', 'width': 1080}, {'height': 130, 'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=130x130&quality=95&sign=fe64f96cbc68002d4ab9ea0d2b8c51f3&c_uniq_tag=xl88-rfuLoop80Lg4gxK1nFmFh0LJ1Pfl_hACXaHwpc&type=album', 'type': 'o', 'width': 130}, {'height': 200, 'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=200x200&quality=95&sign=682ffdeba0b15aa9ba229c19a98c181b&c_uniq_tag=Snas9rrjpGYo1uBeVQTOm2Uxl31UqXRjvqvpZYiFNw8&type=album', 'type': 'p', 'width': 200}, {'height': 320, 'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=320x320&quality=95&sign=8b3030577d472da77358fff07abff648&c_uniq_tag=TEKr0q_r_Cwt0cdKFG2bNzPtRkJglK5eF4TNC1GdotU&type=album', 'type': 'q', 'width': 320}, {'height': 510, 'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=510x510&quality=95&sign=a886d35b9a838b2694985007f584bd11&c_uniq_tag=NALIS41P_ac-tCirF7tZVe-7wAbtcHD4rxSZkJO5tBM&type=album', 'type': 'r', 'width': 510}], 'text': '', 'user_id': 100, 'has_tags': False}}], 'post_source': {'type': 'vk'}, 'comments': {'can_post': 1, 'count': 0, 'groups_can_post': True}, 'likes': {'can_like': 1, 'count': 0, 'user_likes': 0, 'can_publish': 1}, 'reposts': {'count': 0, 'user_reposted': 0}, 'views': {'count': 5}, 'is_favorite': False, 'donut': {'is_donut': False}, 'short_text_rate': 0.8}

In [ ]:
# функция pprint позволяет более структурированно выводить сложные структуры
from pprint import pprint
pprint(res[0])

{'attachments': [{'photo': {'access_key': '6218deb98f6682935b',
                            'album_id': -7,
                            'date': 1643651259,
                            'has_tags': False,
                            'id': 457240247,
                            'owner_id': -147912930,
                            'post_id': 1172,
                            'sizes': [{'height': 75,
                                       'type': 's',
                                       'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=75x75&quality=95&sign=6f8b19344cae6506e007fec8239b8f0b&c_uniq_tag=bA_d4szQGlv4znjKaoAXQeo5fovdORR8bKb7z9jlJ-g&type=album',
                                       'width': 75},
                                      {'height': 130,
                                       'type': 'm',
                                       'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=130x130&quality=95&sign=fe64f96cbc68002d4ab9ea0d2b8c51f3&c_uniq_tag=xl88-rfuLoop80Lg4gxK1nFmFh0LJ1Pfl_hACXaHwpc&type=album',
                                       'width': 130},
                                      {'height': 604,
                                       'type': 'x',
                                       'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=604x604&quality=95&sign=7ae92f9c701f719631f9b86fc49d70d1&c_uniq_tag=STuGHayHDDSqnn-_cR7A3VdR7_VUQ4a-BMR2XVTvUJE&type=album',
                                       'width': 604},
                                      {'height': 807,
                                       'type': 'y',
                                       'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=807x807&quality=95&sign=2a34f001a528264e6913b3de3e07a78b&c_uniq_tag=ZMZ7WgwZIvvZC_Pq7PIxKaB4kaYxcXhShAFdPxIFVI4&type=album',
                                       'width': 807},
                                      {'height': 1080,
                                       'type': 'z',
                                       'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=1080x1080&quality=95&sign=003359e24f3fe49526fad367e693ec72&c_uniq_tag=t_RjDeCM3p5DW1jZLL42W5-_nFpscophVo7nqmGWY4M&type=album',
                                       'width': 1080},
                                      {'height': 130,
                                       'type': 'o',
                                       'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=130x130&quality=95&sign=fe64f96cbc68002d4ab9ea0d2b8c51f3&c_uniq_tag=xl88-rfuLoop80Lg4gxK1nFmFh0LJ1Pfl_hACXaHwpc&type=album',
                                       'width': 130},
                                      {'height': 200,
                                       'type': 'p',
                                       'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=200x200&quality=95&sign=682ffdeba0b15aa9ba229c19a98c181b&c_uniq_tag=Snas9rrjpGYo1uBeVQTOm2Uxl31UqXRjvqvpZYiFNw8&type=album',
                                       'width': 200},
                                      {'height': 320,
                                       'type': 'q',
                                       'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=320x320&quality=95&sign=8b3030577d472da77358fff07abff648&c_uniq_tag=TEKr0q_r_Cwt0cdKFG2bNzPtRkJglK5eF4TNC1GdotU&type=album',
                                       'width': 320},
                                      {'height': 510,
                                       'type': 'r',
                                       'url': 'https://sun9-33.userapi.com/impg/-v8IbJhUoehDc6u4tBtr-r7LMo2Bt9yeLfXjdg/5N86gL91O_g.jpg?size=510x510&quality=95&sign=a886d35b9a838b2694985007f584bd11&c_uniq_tag=NALIS41P_ac-tCirF7tZVe-7wAbtcHD4rxSZkJO5tBM&type=album',
                                       'width': 510}],
                            'text': '',
                            'user_id': 100},
                  'type': 'photo'}],
 'comments': {'can_post': 1, 'count': 0, 'groups_can_post': True},
 'date': 1643651259,
 'donut': {'is_donut': False},
 'from_id': -147912930,
 'id': 1172,
 'is_favorite': False,
 'likes': {'can_like': 1, 'can_publish': 1, 'count': 0, 'user_likes': 0},
 'marked_as_ads': 0,
 'owner_id': -147912930,
 'post_source': {'type': 'vk'},
 'post_type': 'post',
 'reposts': {'count': 0, 'user_reposted': 0},
 'short_text_rate': 0.8,
 'text': '3 февраля новый мастермайнд MarHR🎉 Поговорим про бренд '
         'работодателя. \n'
         ' \n'
         'Модерировать встречу будет методолог, коуч, профессиональный '
         'модератор мастермайндов Екатерина Носкова. \n'
         ' \n'
         'Эффективность сессий во многом зависит от навыков ведущего и '
         'соблюдения методологии. На мастермайндах MarHR можно не волноваться '
         'за квалификацию модератора. \n'
         ' \n'
         'Вот далеко не весь список причин, из-за которых мы доверяем '
         'Екатерине: \n'
         ' \n'
         '— прошла обучение в «Американской Академии Коучинга» по созданию и '
         'проведению развивающих тренингов в коучинговом формате; \n'
         ' \n'
         '— прошла обучение в «Академии стратегического коучинга» по созданию '
         'и проведению бизнес-тренингов в коучинговом формате; \n'
         ' \n'
         '— прошла обучение в «Нетологии» по направлению «методист '
         'онлайн-образования» и «куратор». \n'
         ' \n'
         '🔹 Екатерина ждёт вас на мастермайнде «Бренд работодателя» 3 февраля '
         'в 18.00. \n'
         ' \n'
         '🔸Стоимость участия в мастермайнде — 1 500 рублей. Для участников '
         'MarHR Club — бесплатно. Для выпускников курса HR SMM — скидка 50%. \n'
         ' \n'
         'Подробнее про мастермайнд и регистрация по ссылке — '
         'https://bit.ly/3Ghd4t9',
 'views': {'count': 5}}

In [ ]:
likes_count = 0
reposts_count = 0
for post in res:
    likes_count += post['likes']['count']
    reposts_count += post['reposts']['count']

print(likes_count)
print(reposts_count)

5001
1747

Ваши вопросы

In [ ]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

In [ ]:
sum_views = 0
unique_users = []

for el in stream:
    splitted_el = el.split(',')
    sum_views += int(splitted_el[2])
    if splitted_el[1] not in unique_users:
        unique_users.append(splitted_el[1])

print(sum_views / len(unique_users))

23.25

In [ ]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

In [ ]:
for country, temp in countries_temperature:
    print(f'{country} - {sum(temp)}')

Thailand - 524.5999999999999
Germany - 284.2
Russia - 270.8
Poland - 321.59999999999997

In [ ]:
a = 5
b = 3