# Кейс-стади

Булыгин Олег:  
* [LinkedIn](linkedin.com/in/obulygin)  
* [Мой канал в ТГ по Python](https://t.me/solidtalk)

Никакие экспериментально полученные данные никогда **не подтвердят** какую-либо гипотезу. Это является фундаментальным ограничением. Данные могут лишь не противоречить гипотезе или, наоборот, показывать очень маловероятные результаты (при условии, что гипотеза верна). Но и в том, и в другом случае никогда нет оснований утверждать, что выдвинутая гипотеза **доказана**.

In [ ]:
# Изучим набор данных об удовлетворенности клиентов Apple и Samsung продуктами компаний

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/obulygin/netology_pyda_files/main/apple_samsung.csv')
df

    Sr No S_Cust_id  Samsung_Score Apple_Cust_id  Apple_Score
0       1   S336499             94       A336525           82
1       2    S73004             99        A73011           83
2       3    S79537             74        A79538           88
3       4   S769168             74       A769222           80
4       5   S609791             83       A609801           74
..    ...       ...            ...           ...          ...
95     96   S285617             77       A285629           87
96     97   S324135             85       A324151           82
97     98   S292076             83       A292091           88
98     99   S936528             82       A936566           91
99    100   S489010            100       A489031           95

[100 rows x 5 columns]

1) Нужно сформулировать нулевую и альтернативную гипотезы;   
2) Определить пороговый уровень статистической значимости;  
3) Сколько у нас выборок (какой вариант теста используем)?  
3) Нужен ли односторонний, либо двухсторонний вариант теста?  https://stats.idre.ucla.edu/other/mult-pkg/faq/general/faq-what-are-the-differences-between-one-tailed-and-two-tailed-tests/  
4) Выборки связаны или нет?

## Клиенты удовлетворены продукцией Apple?
Клиенты удовлетворены продукцией Apple **больше**, чем на 80%? (односторонний тест)

H0: средняя удовлетворенность клиентов Apple продукцией компании <= 80%  
H1: средняя удовлетворенность клиентов Apple продукцией компании составляет более 80%

За alpha здесь и далее будем принимать 0.05

Сравниваем значение по выборке с константой, поэтому нужен одновыборочный критерий.

In [ ]:
!pip install --upgrade scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (1.4.1)
Collecting scipy
  Downloading scipy-1.7.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (38.1 MB)
     |████████████████████████████████| 38.1 MB 1.2 MB/s
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.21.6)
Installing collected packages: scipy
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed scipy-1.7.3

In [ ]:
from scipy import stats as st
alpha = 0.05
result = st.ttest_1samp(df['Apple_Score'], 80, alternative='greater')

print(df['Apple_Score'].mean())
print(result)

if result.pvalue < alpha: 
    print('Отвергаем нулевую гипотезу, среднее больше 80 (продукция нравится)')
else:
    print('Не отвергаем нулевую нулевую гипотезу, продукция Apple не нравится клиентам')

87.81
Ttest_1sampResult(statistic=8.111646895018431, pvalue=6.915590857414508e-13)
Отвергаем нулевую гипотезу, среднее больше 80 (продукция нравится)

## Клиенты не удовлетворены продукцией Samsung?
Клиенты удовлетворены продукцией Samsung **меньше**, чем на 50%? (односторонний тест)

H0: средняя удовлетворенность клиентов Samsung продукцией компании >= 50%  
H1: средняя удовлетворенность клиентов Samsung продукцией компании составляет менее 50%

In [ ]:
alpha = 0.05
result = st.ttest_1samp(df['Samsung_Score'], 50, alternative='less')
print(df['Samsung_Score'].mean())
print(result)
if result.pvalue < alpha:
    print('Отвергаем нулевую гипотезу, среднее меньше 50')
else:
    print('Не отвергаем нулевую гипотезу')

84.9
Ttest_1sampResult(statistic=29.465073943150735, pvalue=1.0)
Не отвергаем нулевую гипотезу


## Клиентам одинаково нравится продукция Apple и Samsung?
Средняя удовлетворенность клиентов  Apple и Samsung **равна**? (двухсторонний тест)

H0: средняя удовлетворенность клиентов Samsung и Apple одинаковая  
H1: средняя удовлетворенность клиентов Samsung и Apple различается

Здесь нам уже нужен двухвыборочный двухсторонний критерий.

Существует [мнение](http://daniellakens.blogspot.com/2015/01/always-use-welchs-t-test-instead-of.html), что использование критерия Уэлча всегда предпочтительнее, будем придерживаться этой позиции.

In [ ]:
result = st.ttest_ind(df['Samsung_Score'], df['Apple_Score'], equal_var=False)
print(result)
print(df['Samsung_Score'].mean())
print(df['Apple_Score'].mean())

if (result.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, клиенты по разному относятся к продукции Apple и Samsung')
else:
    print('Не отвергаем нулевую гипотезу')

Ttest_indResult(statistic=-1.9064295935043474, pvalue=0.05810311766331876)
84.9
87.81
Не отвергаем нулевую гипотезу