In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Анализ домашней бухгалтерии (Ответы) - Ответы на форму (1).csv')

In [ ]:
df.describe()

            Сумма
count    24.000000
mean   1042.291667
std    1969.229036
min      10.000000
25%      87.000000
50%     543.000000
75%     876.000000
max    7854.000000

In [ ]:
df.columns

Index(['Отметка времени', 'Месяц операции', 'Название операции', 'Сумма ',
       'Категория ', 'Регулярная трата'],
      dtype='object')

In [ ]:
df_small = df[['Категория ', 'Сумма ']]

In [ ]:
df_small

   Категория   Сумма
0        авто  6789.0
1      другое    10.0
2      другое    65.0
3         еда   456.0
4         еда    56.0
5      одежда   876.0
6      одежда    87.0
7        авто   908.0
8      другое   908.0
9         еда   543.0
10     другое   876.0
11        еда   876.0
12     одежда    67.0
13       авто   456.0
14     другое    98.0
15       авто   778.0
16        еда   765.0
17     другое    65.0
18     одежда   877.0
19     одежда    87.0
20       авто   654.0
21     одежда   543.0
22        еда  7854.0
23       авто   321.0

In [ ]:
df_small.groupby('Категория ').sum()

             Сумма
Категория
авто         9906.0
другое       2022.0
еда         10550.0
одежда       2537.0

In [ ]:
df_small.groupby('Категория ').mean()

                 Сумма
Категория
авто        1651.000000
другое       337.000000
еда         1758.333333
одежда       422.833333